*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #18213c;
  color: #ffffff;
  filter: contrast(1.02) brightness(0.98);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
